stages:
  - build

default:
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/docker:latest

variables:
  BUILDX_PLATFORMS: linux/amd64,linux/arm64/v8

build:review:
  stage: build
  tags:
    - buildx
  before_script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
    - docker buildx build --pull --push --progress plain --compress --rm --platform $BUILDX_PLATFORMS -f ./Dockerfile -t $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME.
    - echo "echo \"docker exec -it $CI_PROJECT_NAME-$CI_COMMIT_REF_NAME sh\"; docker pull $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME && docker run -it --rm --name $CI_PROJECT_NAME-$CI_COMMIT_REF_NAME $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME" >> run-$CI_PROJECT_NAME-$CI_COMMIT_REF_NAME.sh
  artifacts:
    paths:
     - run-$CI_PROJECT_NAME-$CI_COMMIT_REF_NAME.sh
    expire_in: 1 week
  only:
    - branches
  except:
    - master
    - main

build:production:
  stage: build
  tags:
    - buildx
  before_script:
    - docker login -u $DOCKER_USER -p $DOCKER_PASSWD
  script:
    - docker buildx build --pull --push --progress plain --compress --rm --platform $BUILDX_PLATFORMS -f ./Dockerfile -t $DOCKER_REPO/$CI_PROJECT_NAME:$CI_ENVIRONMENT_SLUG .
  environment:
    name: production
    url: https://$DOMAIN
  only:
    - master
    - main
