stages:
  - build

include:
  # build and push main branch to dockerhub
  - component: $CI_SERVER_FQDN/infra/templates/docker-buildx@0.4.0
    inputs:
      docker-user: $DOCKER_USER
      docker-passwd: $DOCKER_PASSWD
      docker-registry: docker.io
      docker-tag: $DOCKER_REPO/$CI_PROJECT_NAME:$CI_ENVIRONMENT_SLUG
    rules:
      - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

  # build and push feature branches to local gitlab registry
  - component: $CI_SERVER_FQDN/infra/templates/docker-buildx@0.4.0
    rules:
      - if: $CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH
